In [1]:
import pandas as pd
import numpy as np

In [15]:
df = pd.read_csv("data/processed_data.csv")

In [18]:
df1 = df.loc[:5000]

In [19]:
df1

,Unnamed: 0,post_id,user_id,country,category,#views,#comments,#likes,norm_views,norm_comments,...,count12,count13,count14,count15,user_avg_views,user_avg_comments,country_avg_views,country_avg_comments,category_avg_views,category_avg_comments
0,0,141569.0,13588.0,13.0,gaming,2403572.0,5606.0,107865.0,0.013470,0.004597,...,0.0,0.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,1,278047.0,5601.0,13.0,gaming,1421234.0,7316.0,68570.0,0.007951,0.005999,...,0.0,0.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2,2,278280.0,31823.0,13.0,gaming,1460690.0,9924.0,136786.0,0.008173,0.008138,...,0.0,0.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,3,161305.0,14424.0,13.0,gaming,1463710.0,1087.0,62590.0,0.008190,0.000891,...,0.0,0.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,4,340945.0,8532.0,13.0,gaming,2507066.0,2974.0,21325.0,0.014052,0.002439,...,0.0,0.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4996,5129,291123.0,26499.0,10.0,music,484284.0,1842.0,41490.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4997,5130,433517.0,21472.0,10.0,music,3988172.0,319.0,31622.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4998,5131,487660.0,17754.0,10.0,music,221998.0,1537.0,33652.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4999,5132,87189.0,2877.0,10.0,music,612589.0,1622.0,39602.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5000,5133,421129.0,25633.0,10.0,music,80366.0,192.0,4995.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
df.shape[0]

359405

In [13]:
df.dropna(axis = 0, how = "all", inplace = True)

In [14]:
df

,Unnamed: 0,post_id,user_id,country,category,#views,#comments,#likes,norm_views,norm_comments,...,count12,count13,count14,count15,user_avg_views,user_avg_comments,country_avg_views,country_avg_comments,category_avg_views,category_avg_comments
0,0,141569.0,13588.0,13.0,gaming,2403572.0,5606.0,107865.0,0.013470,0.004597,...,0.0,0.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,1,278047.0,5601.0,13.0,gaming,1421234.0,7316.0,68570.0,0.007951,0.005999,...,0.0,0.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2,2,278280.0,31823.0,13.0,gaming,1460690.0,9924.0,136786.0,0.008173,0.008138,...,0.0,0.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,3,161305.0,14424.0,13.0,gaming,1463710.0,1087.0,62590.0,0.008190,0.000891,...,0.0,0.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,4,340945.0,8532.0,13.0,gaming,2507066.0,2974.0,21325.0,0.014052,0.002439,...,0.0,0.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
359400,4816,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.008149,0.000044,...,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
359401,4850,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.001185,0.002445,...,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
359402,4869,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000094,0.000052,...,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
359403,4939,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.001827,0.000101,...,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
359404,4944,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000391,0.000175,...,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN